:root {
  --primary-text-color: #212121;
  --title-text-color: #757575;
  --accent-color: #2196f3;
  --primary-background-color: #e5e5e5;
  --white-color: #ffffff;
  --secondary-white-color: rgba(255, 255, 255, 0.6);
  --section-bg-color: #2F303A;
  --secondary-bg-color: #f5f4fa;

}
body {
  background-color: var(--primary-background-color);
  color: var(--primary-text-color);
  font-family: Roboto, sans-serif;
}
.list {
  list-style: none;
}
/* logo */
.logo {

  color: var(--primary-text-color);
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  text-decoration: none;

}
.logo-accent {

  color: var(--accent-color);
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  letter-spacing: 0.03em;
}
/* site-nav */
.site-nav .link {

  color: var(--primary-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  text-decoration: none;
}
.site-nav .link:hover,
.site-nav .link:focus {
  color: var(--accent-color);
}
.site-nav .link.current {
  color: var(--accent-color);
}
/* auth-nav */
.contacts-nav .link {
  color: var(--primary-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  text-decoration: none;
}
.contacts-nav .link:hover,
.contacts-nav .link:focus {
  color: var(--accent-color);
}
.navigation{
  background-color: var(--white-color);
}

/* Hero */
.hero-title {
  color: var(--white-color);
  font-weight: 900;
  font-size: 44px;
  line-height: 1.4;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}
.buttons {
  background-color: var(--accent-color);
  color: var(--white-color);
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.8;
  letter-spacing: 0.06em;
}

.buttons.primary {
  background-color: var(--accent-color);
  color: var(--white-color);
  
}
.buttons.secondary {
  background-color: var(--secondary-bg-color);
  color: var(--primary-text-color);
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.8;
  letter-spacing: 0.03em;
}
.buttons.secondary:hover,
.buttons.secondary:focus {
  background-color: var(--accent-color);
  color: var(--white-color);
}

.hero{
  background-color: var(--section-bg-color);
}
/*section*/

.section-title {
  color: var(--primary-text-color);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.2;
  text-align: center;
  letter-spacing: 0.03em;
  }

/* features */
.features .title {
  color: var(--primary-text-color);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}
.features .text {
  color: var(--title-text-color);
  font-size: 14px;
  line-height: 1.8;
  letter-spacing: 0.03em;
}

/* team */
.team .title {
  color: var(--primary-text-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.2;
  letter-spacing: 0.03em;
}
.team .text {
  color: var(--title-text-color);
  font-size: 16px;
  line-height: 1.2;
  letter-spacing: 0.03em;
}
.wokers{
  background-color: #F5F4FA;
}
/* footer*/

.logo-footer {
  color: var(--white-color);
  font-family: Raleway, sans-serif;
  font-size: 26px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  text-decoration: none;
}
.adress .adress-map {
  color: var(--white-color);
  font-weight: 700;
  font-style: normal;
  font-size: 14px;
  line-height: 1.8;
  letter-spacing: 0.03em;
}
.adress .adress-link {
  color: var(--secondary-white-color);
  font-weight: 700;
  font-style: normal;
  font-size: 14px;
  line-height: 1.8;
  letter-spacing: 0.03em;
  }

/* filters */

/* project */
.projects .link{
  text-decoration: none;
}
.project-title {
  color: var(--primary-text-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  letter-spacing: 0.03em;
}
.projects .text {
  color: var(--title-text-color);
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
  text-decoration: none;
}
