:root {
  --primary-text-color: #212121;
  --title-text-color: #757575;
  --accent-color: #2196f3;
  --primary-background-color: #e5e5e5;
  --white-color: #ffffff;
  --secondary-white-color: rgba(255, 255, 255, 0.6);
  --secondary-bg-color: #f5f4fa;
}
body {
  background-color: var(--primary-background-color);
  color: var(--primary-text-color);
  font-family: Roboto, sans-serif;
}
.list {
  list-style: none;
}
/* logo */
.logo {
  color: var(--primary-text-color);
  font-family: Raleway, sans-serif;
  font-size: 26px;
  line-height: 31px;
  letter-spacing: 0.03em;

}
.logo-accent {
  color: var(--accent-color);
  font-family: Raleway, sans-serif;
  font-size: 26px;
  line-height: 31px;
  letter-spacing: 0.03em;
}
/* site-nav */
.site-nav .link {
  color: var(--primary-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;
}
.site-nav .link:hover,
.site-nav .link:focus {
  color: var(--accent-color);
}
.site-nav .link.current {
  color: var(--accent-color);
}
/* auth-nav */
.contacts-nav .link {
  color: var(--primary-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;
}
.contacts-nav .link:hover,
.contacts-nav .link:focus {
  color: var(--accent-color);
}

/* Hero */
.hero-title {
  color: var(--secondary-white-color);
  font-weight: 900;
  font-size: 44px;
  line-height: 60px;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}
.buttons {
  background-color: var(--accent-color);
  color: var(--white-color);
  font-weight: bold;
  font-size: 16px;
  line-height: 30px;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
}

.buttons.primary {
  background-color: var(--accent-color);
  color: var(--white-color);
}
.buttons.secondary {
  background-color: var(--secondary-bg-color);
  color: var(--primary-text-color);
}
.buttons.secondary:hover,
.buttons.secondary:focus {
  background-color: var(--accent-color);
  color: var(--white-color);
}

/*section*/

.section-title {
  color: var(--primary-text-color);
  font-weight: bold;
  font-size: 36px;
  line-height: 42px;
  text-align: center;
  letter-spacing: 0.03em;
  }

/* features */
.features .title {
  color: var(--primary-text-color);
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}
.features .text {
  color: var(--title-text-color);
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;
}

/* team */
.team .title {
  color: var(--primary-text-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 0.03em;
}
.team .text {
  color: var(--title-text-color);
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 0.03em;
}

/* footer*/

.logo-footer {
  color: var(--white-color);
  font-family: Raleway, sans-serif;
  font-size: 26px;
  line-height: 31px;
  letter-spacing: 0.03em;
}
.adress .adress-map {
  color: var(--white-color);
  font-style: normal;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;
}
.adress .adress-link {
  color: var(--secondary-white-color);
  font-style: normal;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;
  }

/* filters */

/* project */
.projects .text {
  color: var(--title-text-color);
}
